/*General roles for pages */
html {
  scroll-behavior: smooth;
  height: 100%;

}
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Open Sans", Helvetica, sans-serif;
    height: 100%;
}

textarea{
  width: 300px
}


* {
  box-sizing: border-box;
}
.page-wrapper{
  height: 100%;
  min-height: 100%;
}
.main_content{

  min-height: calc(100% - 35px);
}

/*Styles for footer */
footer {

    background: black;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
  
  }
  
  footer>div>a,
  span {
    color: white;
  
  }
  
  @media screen and (max-width: 600px) {
    footer {
  
      column-gap: 2px;
    }
  }
  
  @media screen and (max-width: 480px) {
    footer {
  
      column-gap: 1px;
    }
  
    footer>div>a,
    span {
      font-size: 4vw;
  
    }
  }

/*Styles for main page */

.font_page{

    display: flex;
    flex-direction: column;
    align-items:   center;
    gap: 40px;
    margin-bottom: 30px;
    


}
.font_page_text {

  margin: 5px;
  text-align: center;
}

.font_page_text > h1:hover{

  text-decoration: 1px solid underline #333;
  text-underline-position: under;
  text-underline-offset: 5px;

}


/* Style for Logo on Login and register */

.logo_container{

    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 5px;

}

/* Styles for login form  */
.container_login_form{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center; 
   

}
.login_form{
    
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    margin-top: 3% ;

}

.grid_form {
  padding: 3px;
}
.register_form{
    
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    margin-top: 3% ;

}
@media screen and (max-width:460px){

  .login_form{
    padding: 0;
    border-style: none;
  }
  .register_form{
    padding: 0;
    border-style: none;
  }
  
}
/* Styles for forms used to add/view and modify product*/

.product_container{

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
    margin-bottom: 20px;
}

@media screen and (max-width:480px) {
  .product_container{

    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
  }
  
}


/* General Sytles */
label{
    font-weight: bold;
}


#submit,#delete,#modify,#change_user,#delete_user{

    background-color: #04AA6D;
    border-radius: 4px;
    font-weight: bold;
    font-size: medium;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
  
}

#submit:hover,#delete:hover,#modify:hover,#change_user:hover,#delete_user:hover{ 
     opacity: 0.8;
}

#filter_button,#reset{
  background-color: #04AA6D;
  border-radius: 4px;
  color: white;
}
.add_button{
    background-color: #04AA6D;
    border-radius: 4px;
    font-weight: bold;
    font-size: medium;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}
.simple_button{
  background-color: #04AA6D;
  border-radius: 4px;
  color: white;

}
.simple_button:hover{
  opacity: 0.8;

}

.back_container{

    display: flex;
    margin-top: 5px;
    margin-left: 2px;


}

.back_container > a{
    text-decoration: none;
    background:  #04AA6D ;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    padding: 2px

}

/* Styles for Grid used in landpage */

.grid_container{

    margin-top: 20px;
    margin-left:20%;
    margin-right: 20%;
    margin-bottom: 25px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    justify-content: center;


}
.item{

    border-style: solid;
    border-radius: 4px;

}
.item > a{

    background-color: #04AA6D ;
    width: 100%;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
}
.item > h3{
  padding-left: 5px;
}
.item > p{
  padding-left: 5px;
}
.product_image{

  width: 360px;
  height: 360px;
  margin-bottom: 10px;


}
@media screen and (max-width:480px){

  .product_image{
    width: 100%;
    height: 300px;
  }
  
}
/*Styles for top buttons on landpage */
.button_block{

  display: flex;
  flex-direction: row;
  
}

/*FIlter form  */

.filter_form{
  display: none;
  flex-direction: row;
  width: 100%;
  z-index: 10;
  margin-top: 10px;
  padding-left: 5px;
}
.filter_element{
  padding: 2px;
}

@media screen and (max-width:480px) {

  .filter_form{

    flex-direction: column;
    justify-content: center;
  }
  
}


/* Styles for user bar */
.user-bar {
   background: black;
   position: relative;
   overflow: hidden;
}
.user-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.user-bar a:hover{
    background-color: #04AA6D;
  }

.topnav-right {
    float: right;
  }
/* Styles for images on main screen */
.main_pictures{
  width:600px;
  height:500px
}
@media screen and (max-width:480px) {
  .main_pictures{
    width:100%;
    height:340px
  }
}

/*Styles for flash messages */

.flash_success {

  background: #04AA6D;
  border: #04AA6D 2px solid;
  border-radius: 4px;
  padding: 16px;
  z-index: 2;

}

.flash_error{

  background: #e40d0d;
  border: #e40d0d 2px solid;
  border-radius: 4px;
  padding: 16px;
  z-index: 2;

}

/* Styles for pagination */

.pagination_box{
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.pagination_box a{
  color :black;
  padding: 8px 10px;
  margin-right: 5px;
  text-decoration: none;
}
.pagination_box a.active{
  color: white;
  background-color: #04AA6D;

}
.pagination_box a:hover:not(.active){
  background-color: #ddd;
}

