<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Retro, Games, Juegos, Collection, Collecion">
    <meta name="description" content="Retro games colection">
    <meta name="author" content="Raul Garcia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("public.static", filename="/css/styles.css" ) }}">
    <link rel="shortcut icon" href="{{ url_for('public.static', filename = 'images/Logo.png')}}"  />
    <script src="https://kit.fontawesome.com/55cc5c8e5d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="{{ url_for("public.static", filename="javascript/functions.js") }}"></script>
    <script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>
    
 


</head>

<body>

    <div class="page-wrapper">

      <div class="main_content">
        <div class="user-bar">
            <div class="topnav-right">
                {% if current_user.is_anonymous  %}
                <a href="{{ url_for("user.do_login") }}">Login</a>
                <a href="{{ url_for("user.register_user") }}">Registro</a>
                {% else %}
                  <a href="{{ url_for("user.user_details") }}">{{ current_user.name }}</a> 
                  <a href="{{url_for("user.logout") }}">Logout</a>
                   
                {% endif %}
            </div>
    
    
        </div>
        {% block content %}{% endblock %}
      </div>  
        <footer>
            <div id="links">
                <span>Creado por Raul Garcia </span>
            </div>
            <div id="social">
                <a href="https://www.linkedin.com/in/raul-garcia-pedrosa-35a014118/" target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
                <a href="https://github.com/raulG91/mi_coleccion" target="_blank"><i class="fa-brands fa-square-github"></i>GitHub</a>
            </div>
            <div id="contacto">

                <a href="">Contacto</a>
            </div>

        </footer>
    </div>

</body>



</html>