{% extends "base_template.html"%}

{%block title%}Mi colecion {% endblock%}

{%block content%}
<div class="button_block">
    <form action="" method="post">

        <button type="submit" name="newProduct" value="Nuevo Producto" class="add_button">
            <i class="fa-solid fa-plus"></i>
            Juego
        </button>
    </form> 
        <button type="submit" name="filter" value="Filtrar" class="add_button" onclick="filter()">
            <i class="fa-solid fa-filter"></i> Filtrar
        </button>         
</div>
    <form action="" id="filter" method="post" class = "filter_form">
        <div class="filter_element">
            {{form.platform.label}}
            {{ form.platform}}
        </div>
        <div class="filter_element">
            {{form.genre.label}}
            {{form.genre}}
        </div>  
        <div class="filter_element">
            {{form.region.label}}
            {{form.region}}
        </div> 
        <div class="filter_element">

            {{form.filter()}}
            {{form.reset()}}
        </div> 
        </form>



<div class="grid_container">
   

    {% for product in products %}

    <div class="item">
     
         {% if product.get_image() %}
          <img src="{{ url_for('private.static', filename = 'images/' + product.get_image()) }}" width="100%" height="200px">
          {% else %}  
          <img src="{{ url_for('private.static', filename = 'images/empty.jpg') }}" width="100%" height="200px">
          {%endif %}
            <h3 style="font-weight: bold;">{{ product.get_name() }}</h3>
            <p>{{ product.get_platform() }}</p>
            <a href="{{url_for("public.product_details", product_id=product.get_product_id()) }}">Detalles</a>   
    </div>

    {% endfor %}

</div>  

<div class="pagination_box">
    <!--First page will be always visible-->
    <div>
    {% if total_pages > 1 %}
        {% if filter and current_page == 1 %}
            <a href="{{ url_for("public.landpage", page = 1, filter=filter) }}" class="active">1</a>
        {% elif filter and current_page != 1 %}
            <a href="{{ url_for("public.landpage", page = 1, filter=filter) }}" class="page_item">1</a>
        {% elif current_page == 1  %}    
            <a href="{{ url_for("public.landpage", page = 1) }}" class="active">1</a>
        {%  else %}  
            <a href="{{ url_for("public.landpage", page = 1) }}" class="page_item">1</a>
        {% endif %}  
    {% endif %}    
    </div>  
    {% set lower = current_page - 3 %}
    {%  set upper = current_page + 3 %}
    {% if lower <=  1 %}
        {% set lower = 2 %}
    {% endif %}    
    {% if upper >= total_pages %}
        {% set upper = total_pages -1  %}
    {% endif %}
    {% if lower -1 >= 2 %}
        <div>
            ...
        </div>
    {% endif  %}
    {% for value in range(lower,upper+1) %}
    <div>
        
        {% if filter and value != current_page %}
            <a href="{{ url_for("public.landpage", page = value, filter=filter) }}" class="page_item">{{ value }}</a>
         
        {% elif filter and value == current_page %}    
            <a href="{{ url_for("public.landpage", page = value, filter=filter) }}" class="active">{{ value }}</a>
        {% elif value == current_page %}
            <a href="{{ url_for("public.landpage", page = value) }}" class="active">{{ value }}</a>
        
        {% else %}
            <a href="{{ url_for("public.landpage", page = value) }}" class="page_item">{{ value }}</a>    
        {% endif %}    
    </div>
    {% endfor %}
    {% if total_pages - upper >= 2%}
        <div>
            ...
        </div>
    {% endif %}
    <!--Last page -->
    <div>
     {% if total_pages != 0 %}   
        {% if filter and current_page == total_pages %}
            <a href="{{ url_for("public.landpage", page = total_pages, filter=filter) }}" class="active">{{total_pages}}</a>
        {% elif filter and current_page != total_pages %}
            <a href="{{ url_for("public.landpage", page = total_pages, filter=filter) }}" class="page_item">{{total_pages}}</a>
        {% elif current_page == total_pages %}    
            <a href="{{ url_for("public.landpage", page = total_pages) }}" class="active">{{total_pages}}</a>
        {% else %}  
            <a href="{{ url_for("public.landpage", page = total_pages) }}" class="page_item">{{total_pages}}</a>
        {% endif %} 
     {% endif %}   
    </div>      
</div>

{%endblock%}