{% extends "base_template.html"%}

{%block title%}Mi colecion {% endblock%}

{%block content%}
<div class="button_block">
    <form action="" method="post">

        <button type="submit" name="newProduct" value="Nuevo Producto" class="add_button">
            <i class="fa-solid fa-plus"></i>
            Juego
        </button>
    </form> 
        <button type="submit" name="filter" value="Filtrar" class="add_button" onclick="filter()">
            <i class="fa-solid fa-filter"></i> Filtrar
        </button>
    
</div>
    <form action="" id="filter" method="post" class = "filter_form">
        <div class="filter_element">
            {{form.platform.label}}
            {{ form.platform}}
        </div>
        <div class="filter_element">
            {{form.genre.label}}
            {{form.genre}}
        </div>  
        <div class="filter_element">
            {{form.region.label}}
            {{form.region}}
        </div> 
        <div class="filter_element">

            {{form.filter()}}
            {{form.reset()}}

            <!--
            <button type="submit" name="filterProd" value="filterProd" class="simple_button">
                 Filter
            </button>
      
            <button type="submit" name="reset" value="reset" class="simple_button">
                Reset
            </button>
            -->
        </div> 
        </form>



<div class="grid_container">

    {% for product in products %}

    <div class="item">
     
         {% if product.get_image() %}
          <img src="{{ url_for('private.static', filename = 'images/' + product.get_image()) }}" width="100%" height="200px">
          {% else %}  
          <img src="{{ url_for('private.static', filename = 'images/empty.jpg') }}" width="100%" height="200px">
          {%endif %}
            <h3 style="font-weight: bold;">{{ product.get_name() }}</h3>
            <p>{{ product.get_platform() }}</p>
            <a href="{{url_for("public.product_details", product_id=product.get_product_id()) }}">Detalles</a>   
    </div>

    {% endfor %}


</div>

{%endblock%}